<h1 class="text-center">Welcome</h1><hr>

<strong><h4 class="text-center">Please <%= link_to "log in", new_user_session_url %> or <%= link_to "sign up", new_user_registration_url %>  to continue </h4></strong>